/* Elements listed roughly in order of appearance in HTML */

body {
    background-color: white;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin: 0rem 1rem;
    font-size: 1.2rem;
}

/* Splash image and title page */

.splash-heading {
    z-index: 1;
    width: 90vw;
    height: calc(100vh - 4.0625rem);
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("resources/2.jpg");
    background-size: cover;
    background-position-x: center;
    border-radius: 10px 100px / 120px;
    box-shadow: 0 0 8px 8px white inset;
}

h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 8vw;
    padding-top: calc(50vh - 8rem);
}

h2 {
    margin-left: 30%;
    font-family: 'Rock Salt', cursive;
    font-size: 3vw;
    padding: 2rem 0rem 2rem 0rem;
}

/* Navigation bar */

nav {
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: flex-start;
}

nav ul li {
    padding: 0 1rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: gray;
    font-weight: 700;
    font-size: 1.2rem;
}

.clickable {
    transition: all .5s ease-out;
}

.clickable:hover,
.clickable:focus {
    color: black;
    transition-duration: .5s;
}

.clickable:active {
    color: linen;
    transition: none;
}

/* Main sections */

section {
    max-width: 1150px;
    margin-bottom: 2rem;
    line-height: 1.75;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 4vw;
    margin: 2rem 0rem 2rem 0rem;
    text-align: center;
}

p,
summary {
    margin: 1rem 15rem 2rem 15rem;
    line-height: 1.75;
}

details {
    background-color: linen;
    border-radius: 10px 100px / 120px;
    box-shadow: 0 0 8px 8px white inset;
    margin: 0rem 2rem 0rem 2rem;
}

.regular-list {  /* As opposed to a nav-bar list */
    list-style: disc;
    margin: 1rem 15rem 2rem 18rem;
}

li {  /* For non-nav-bar list items */
    margin-bottom: 1rem;
    line-height: 1.75;
}

.quote {
    z-index: 2;
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 2rem;
    background-image: url("resources/3.jpg");
    filter: opacity(70%);
    border-radius: 10px 100px / 120px;
    box-shadow: 0 0 8px 8px white inset;
    margin: 0rem 2rem 0rem 2rem;
    line-height: 1.2;
}

.centred {
    text-align: center;
    font-weight: 700;
}

.photo-band {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 2rem auto;
}

.photo {
    width: 30vw;
}

.move-anchor-up {
    scroll-margin-top: 4.0625rem;
}

.email {
    display: flex;
    justify-content: center;
}

.email-icon {
    max-width: 50px;
}

.email-icon>a>img {
    width: 50px;
}

.divider {
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
}

.credits-heading {
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
}

.credit {
    font-size: 0.75rem;
}

@media only screen and (max-width:950px) {
    p,
    summary {
        margin: 1rem 10rem 2rem 10rem;
    }

    .regular-list {
        list-style: disc;
        margin: 1rem 2rem 2rem 14rem;
    }
}

@media only screen and (max-width:750px) {
    h1 {
        font-size: 12vw;
        /*   padding: 2rem 0rem;
            padding-top: calc(25vh); */
        padding-top: calc(50vh - 8rem);

    }

    h2 {
        margin-left: 0;
        text-align: center;
        font-family: 'Rock Salt', cursive;
        font-size: 6vw;
        padding: 2rem 0rem 2rem 0rem;
    }

    h3 {
        font-size: 6vw;
        margin: 2rem 0rem 2rem 0rem;
        text-align: center;
    }

    p,
    summary {
        margin: 1rem 5rem 2rem 5rem;
    }

    .regular-list {
        list-style: disc;
        margin: 1rem 2rem 2rem 8rem;
    }
 
    #photo3 {      
        width: 0;
      }

    .photo {
        width: 45vw;
    }
}


@media only screen and (max-width:450px) {
    p,
    summary {
        margin: 1rem 2rem 2rem 2rem;
    }

    .regular-list {
        list-style: disc;
        margin: 1rem 2rem 2rem 6rem;
    }

    h1 {
        font-size: 12vw;
        /*   padding: 2rem 0rem;
            padding-top: calc(25vh); */
        padding-top: calc(50vh - 7rem);

    }

    h2 {
        margin-left: 0;
        text-align: center;
        font-family: 'Rock Salt', cursive;
        font-size: 6vw;
        padding: 2rem 0rem 2rem 0rem;
    }

    nav ul {
        justify-content: center;
    }

    nav ul li {
        padding: 0 0.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    h3 {
        font-size: 7vw;
        font-weight: 700;
        margin: 2rem 0rem 2rem 0rem;
        text-align: center;
    }
   
    .regular-list {
        list-style: disc;
        margin: 1rem 2rem 2rem 4rem;
    }
    
    li {
        margin-bottom: 0.5rem;
        line-height: 1.75;
    }

    #photo1 {
        width: 0;
    }

    #photo3 {
        width: 0;
    }

  .photo {
        width: 90vw;
    }
}